body{
    font-family: arial, helvetica, sans-serif;
    padding-bottom: 800px;
}
#padre{
    width: 700px;
    height: 500px;
    border: 40px solid #0CC;
    margin: 20px auto;
    padding:  20px;
}
#hijo{
    text-align: center;
    padding: 50px;
    background: rgba(128,128,128,0.5);
    font-size: 2em;
}