a:link {
  color: #FF0000;
}
a:visited {
  color: #00FF00;
}
aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
}
header{
    
}
footer{
    font: bold uppercase 4em helvetica sans-serif; 
    color: #119911;
    background-color: azure;
}
/* no había usado footer en los ejercicios pero se queda abajo aunque haga scrolling */
img {
    margin-left: auto;
    margin-right: auto;
}
#cuadrito{
    height: 100px;
    width: 400px;
    font: 1em helvetica sans-serif; 
    position: relative;
    
}
article{
      font: 1em helvetica sans-serif; 
    
}
section{
      font: bold uppercase 4em helvetica sans-serif; 
        position: relative;
    
}
article{
    height: 100px;
    width: 400px; 
    margin-bottom: 100px;
}