
#padre{
       background-color: rgb(193,81,98);
       position:relative; 
    z-index: 1;
    height: 1000px;
    width:1000px;
}
#poema{
    position: absolute;
    color: rgb(193,81,98);
    background-color: rgb(248,245,210);
    font-size: 12em;
    line-height:98px;
    font-style: oblique;
    text-transform:uppercase;
    font-family: 'New Tegomin', serif;
    height: 700px;
    width: 700px;
    margin-top: 100px;    
}
