body{
    font-family: arial,helvetica, sans-serif;
}
div{
    width:  200px;
    height: 200px;
    padding: 20px;
    /* position: absolute;*/
}
#div1{
    background: #FC0;
}
#div2{
    background: #0FC;
}
#div3{
    background: #AE0;
}