
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introducción</title>
   
    <style type="text/css">
body {
    background-image: url("img/ubuntu.png");
background-color: #cccccc;}
h1 {color: #C00;}
h2 {color: red;}
p{color: #F02;}
    </style>
</head>
<body>
</body>
</html>